* {
    box-sizing: border-box;
}

:root {
    --color-white: #fff;
    --color-white2: #f9f9f9;
    --color-black: #000;
    --color-black2: #111;
    --color-text-white: #eaeaea;
    --color-text-gris: #888;
    --color-text-black: #666;

    --color-global-light: #000;
    --color-global-dark: #fff;

    --color-primary: #5271ff;
    --color-primary-bg1: #5271ff11;
    --color-primary-bg2: #ffffff22;

    --color-azul: #09f;
    --color-gold: #efb810;
    --color-celeste: #00fdf8;
    --color-spring: #6db33f;
    --color-react: #61dafb;
    --color-rojo: #ff0080;
    --color-naranja: #ff4f4f;

    --color-error: #ff4f4f;
    --color-warning: #fc7a1e;
    --color-success: #6db33f;

    --box-top-white: 0px -2px 1px -1px rgba(0, 0, 0, 0.05);
    --box-bottom-white: 0px 1px 1px 1px rgba(0, 0, 0, 0.05);

    --border-top: 2px solid rgba(255, 255, 255, 0.3);
    --border: 1px solid transparent;

    --box-top-black: 0px -2px 1px -1px rgba(255, 255, 255, 0.05);
    --box-bottom-black: 0px 1px 1px 1px rgba(255, 255, 255, 0.05);

    --container-width-lg: 1540px; /* grandes */
    --container-width-md: 1140px; /* medianos */
    --container-width-sm: 100%; /* pequeños */

    --break-points-desktop: 1600px;
    --break-points-mobile: 991px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
    word-wrap: break-word;
    background-color: var(--bg-color1);
    color: var(--color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;

    --bg-color1: var(--color-white);
    --bg-color2: var(--color-black2);
    --color: var(--color-global-light);
    --color1: var(--color-black);
    --color2: var(--color-white2);
    --color-text1: var(--color-text-black);
    --color-text2: var(--color-text-white);
    --box-top: var(--box-top-white);
    --box-bottom: var(--box-bottom-white);
}

.dark-theme {
    --bg-color1: var(--color-black);
    --bg-color2: var(--color-white2);
    --color: var(--color-global-dark);
    --color1: var(--color-white);
    --color2: var(--color-black2);
    --color-text1: var(--color-text-white);
    --color-text2: var(--color-text-black);
    --box-top: var(--box-top-black);
    --box-bottom: var(--box-bottom-black);

    --color-primary-bg1: #ffffff11;
    --color-primary-bg2: #5271ff11;
    --border: 1px solid #343434;
}

.main {
    padding-top: 12rem;
}

main {
    padding-bottom: 18rem;
}

h1,
h2,
h3,
h4 {
    text-align: center;
    margin: 0;
}

h1 {
    font-size: calc(1.25vw + 1.25vh + 1.8rem);
    margin-top: 0;
    font-weight: 800;
    margin-bottom: 1.5rem;
}
h2 {
    font-size: calc(1vw + 1vh + 1.3rem);
    font-weight: 700;
    margin-bottom: 1.3rem;
}
h3 {
    font-size: calc(0.8vw + 0.8vh + 1.1rem);
    font-weight: 600;
    margin-bottom: 1.1rem;
}
h4 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.8rem;
}

p {
    line-height: 1.7rem;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    transition: color ease 0.3s;
}

.text {
    color: var(--color-text1);
    line-height: 1.7rem;
    font-size: 17px;
}

.negrita {
    color: var(--color1);
    font-weight: 700;
}

.start {
    text-align: start;
}

.end {
    text-align: end;
}

.center {
    text-align: center;
}

.section {
    margin-bottom: 15rem;
}

.btn {
    display: inline-block;
    width: max-content;
    padding: 1rem 1.2rem;
    cursor: pointer;
    font-weight: 600;
    border-radius: 0.4rem;

    border: 1px solid var(--color1);
    background-color: var(--color1);
    color: var(--bg-color1);

    transition-property: background-color, border, color;
    transition: 300ms ease;
}

.btn-primary {
    background-color: transparent;
    color: var(--color-primary);
    border-color: var(--color-primary);
}

.btn-gold {
    background-color: var(--color-spring);
    color: var(--color-white);
    border-color: var(--color-spring);
}

@media (hover: hover) {
    a:hover {
        color: var(--color1);
    }
    .btn:hover {
        background-color: transparent;
        border-color: var(--color1);
        color: var(--color1);
    }

    .btn_white:hover {
        color: var(--color-white);
        border-color: var(--color-white);
    }
}

@media screen and (max-width: var(--break-points-mobile)) {
    a:active {
        color: var(--color1);
    }
    .btn:active {
        background-color: var(--bg-color1);
        color: var(--color1);
    }

    .btn_white:active {
        color: var(--color-white);
        border-color: var(--color-white);
    }
}

img {
    display: block;
    width: 100%;
}

button {
    border: 0;
}

.u-center {
    max-width: var(--container-width-lg);
    margin: 0 auto;
    padding: 0 1.5rem;
}

@media screen and (max-width: 1600px) {
    .u-center {
        max-width: var(--container-width-md);
    }
}

@media screen and (max-width: 991px) {
    .u-center {
        max-width: var(--container-width-sm);
    }
    .main {
        padding-top: 10rem;
    }
}

@media screen and (max-width: 551px) {
    .u-center {
        padding: 0 0.5rem;
    }

    .main {
        padding-top: 8rem;
    }
}
